@import "./fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  background-color: #ffffff;
  scroll-behavior: smooth;
}

* {
  @apply text-black;
  font-family: JBM;
  letter-spacing: -0.6px;
  word-spacing: -3px;
  line-height: 1.4;
}

@media print {
  html,
  body {
    background-color: #ffffff !important;
  }
}
